		h1{
			color:;
			font-family: arial;
			text-align: center;
		}
		h2{
			color:red;
			font-family: arial;
			text-align: center;
		}
		h3{
			color:blue;
			font-family: arial;
			text-align: center;
		}
		h4{
			color:yellow;
			font-family: arial;
			text-align: center;
		}
		h5{
			color:gray;
			font-family: arial;
			text-align: center;
		}
		p{
		color: yellow;
		font-family: arial
		text-align:center;

		}